body {
  background-color: #fff;
  color: #000;
  font-family: "Times New Roman", Garamond, serif;
  font-size: 12pt;
}

#content {
  margin: 0;
  padding: 0;
  border: none;
}

#footer {
  border-color: black;
}

.application, .filename {
  font-style: italic;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

pre {
  margin-left: 1em;
  margin-right: 1em;
  max-width: 100%;
  padding: 0.5em 1em;
  overflow: auto;
  border: 1px solid #666;
  color: black;
  background-color: #e0e0e0;
}

a {
  text-decoration: none;
}

.forkme {
  display: none;
}
