body {
  margin: 0;
  color: $black;
  background-color: $silver;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  color: $orange;
  font-size: 4em;
  letter-spacing: -4px;
  text-align: center;
}

h2 {
  margin: 0;
  color: $gray;
  font-weight: normal;
  font-size: 2.5em;
  letter-spacing: -2px;
  text-align: center;
  padding-bottom: 1em;
}

h3 {
  margin: 10px 0 10px 0;
  color: $orange;
  font-weight: normal;
  font-size: 2em;
}

p {
  line-height: 1.5em;
}

a {
  color: $orange;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 5px 0 5px 0;
}

li {
  margin: 0 0 8px 25px;
}

#content {
  border: 2px solid $gray;
  background-color: white;
  margin: 40px auto 40px auto;
  max-width: 768px;
  padding: 20px 20px 20px 20px;
  height: 100%;
}

.application, .filename, .definition {
  font-style: italic;
}

#footer {
  font-size: small;
  border-top: 2px solid $yellow;
  padding-top: 1em;
}

pre {
  margin-left: 1em;
  margin-right: 1em;
  max-width: 100%;
  padding: 0.5em 1em;
  overflow: auto;
  border: 1px solid $black;
  color: black;
  background-color: $silver;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a img {
  border: none;
}

.tinynote {
  text-align: center;
  font-size: 75%;
}
