configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h1
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
aclocal.m4
castget.1
castgetrc.5
po
src/.deps
src/.libs
src/*.o
src/castget
