compile
configure
depcomp
install-sh
libtool
test-driver
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h1
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
aclocal.m4
po
castget.1
castget.1.html
castgetrc.5
castgetrc.5.html
.libs
.deps
*.o
*.log
*.trs
*.dirstamp
src/castget
tests/test_progress
tests/test_patterns
tests/test_filenames
