#
# Example castgetrc file.
#

#
# Global settings.
#

# This will set the ID3 tag "content type" to "Podcast"
# and use the directory /home/tom/podcasts for downloading
# enclosures.
[*]
id3contenttype=Podcast
spool=/home/tom/podcasts

#
# Per-channel settings.
#

# This will define a channel with the identifier "dsc", set the RSS
# feed URL for the channel, override the download directory defined
# in the global settings section, and append file names of downloaded
# enclosures to /home/tom/podcasts.m3u.
[dsc]
url=http://radio.weblogs.com/0001014/categories/dailySourceCode/rss.xml
spool=/home/tom/podcasts/dsc
playlist=/home/tom/podcasts.m3u

# This will define a channel with the identifier "yeast", set the RSS
# feed URL for the channel, and set several ID3 tags.
[yeast]
url=http://feeds.feedburner.com/YeastRadio
id3album=Yeast Radio
id3leadartist=Madge Weinstein
id3comment=
id3title=Yeast Radio
id3year=2005

# castget will by default download files using the original filename in the RSS
# feed. This does not always work, e.g. if the RSS feed uses the same filename
# for all files or if they include broken filenames, or you may prefer your own
# way of naming downloads.
#
# The following configures the channel with filename patterns so that downloads
# use the date and title from the RSS as filenames. See castgetrc(5) for
# a list of supported patterns.
[scientific_american]
url=http://rss.sciam.com/sciam/science-talk
spool=/home/joe/podcasts
id3album=Scientific American
filename=%(date)-%(title).mp3
