#
# Example castgetrc file.
#

#
# Global settings.
#

# This sets the default genre tag to "Podcast" and the default
# download directory to /home/tom/podcasts. These settings can be
# overriden per channel.
[*]
genre=Podcast
spool=/home/tom/podcasts

#
# Per-channel settings.
#

# This defines a channel "dsc", sets the feed URL and overrides the
# download directory.
[dsc]
url=http://radio.weblogs.com/0001014/categories/dailySourceCode/rss.xml
spool=/home/tom/podcasts/dsc

# Spaces in values (including filenames) do not require quotation marks
# or escaping.
[hollywoodbabbleon]
url=http://feeds.feedburner.com/HollywoodBabbleOnPod
spool=/Users/joe/My Podcasts

# Use keys like "album_tag" to set tags in media files.
[newsquizextra]
url=http://podcasts.files.bbci.co.uk/b010m2mj.rss
album_tag=BBC News Quiz Extra

# Setting a tag to an empty string will clear the tag. Tags that are
# not set to any specific value in the channel configuration will
# be left the way they are.
[freakonomics]
url=http://feeds.feedburner.com/freakonomicsradio
comment_tag=

# castget will by default use the filnames that appear in the RSS feed.
# This does not work if, for example, the RSS feed uses the same filename
# for all files. You can use "filename" to specify a filename pattern
# for saving files. See See castgetrc(5) for a list of supported patterns.
# Be careful which patterns you use --- including the raw title from the
# RSS feed, for example, may not be a good idea.
[alphachat]
url=http://podcast.ft.com/s/ft-alphachat/feed
album_tag=FT Alphachat
filespec=alphachat-$(date)-%(title).mp3

# Media files can be added to a playlist when downloaded.
[scientific_american]
url=http://rss.sciam.com/sciam/science-talk
album_tag=Scientific American
filename=%(date)-%(title).mp3
playlist=/home/tom/sciam.m3u
