#
# Example castgetrc file.
#
#   $Id: castgetrc.example,v 1.2 2005/12/09 05:53:57 mariuslj Exp $
#

#
# Global settings.
#

# This will set the ID3 tag "content type" to "Podcast"
# and use the directory /home/tom/podcasts for downloading 
# enclosures.
[*]
id3contenttype=Podcast
spool=/home/tom/podcasts

#
# Per-channel settings.
#

# This will define a channel with the identifier "dsc", set the RSS 
# feed URL for the channel, override the download directory defined
# in the global settings section, and append file names of downloaded
# enclosures to /home/tom/podcasts.m3u.
[dsc]
url=http://radio.weblogs.com/0001014/categories/dailySourceCode/rss.xml
spool=/home/tom/podcasts/dsc
playlist=/home/tom/podcasts.m3u

# This will define a channel with the identifier "yeast", set the RSS
# feed URL for the channel, and set several ID3 tags.
[yeast]
url=http://feeds.feedburner.com/YeastRadio
id3album=Yeast Radio
id3leadartist=Madge Weinstein
id3comment=
id3title=Yeast Radio
id3year=2005

