#
# Example castgetrc file.
#
#   $Id: castgetrc.example,v 1.1 2005/11/13 21:50:16 mariuslj Exp $
#

# Download the Daily Sourcecode to /home/tom/podcasts/dsc as is
[dsc]
url=http://radio.weblogs.com/0001014/categories/dailySourceCode/rss.xml
spool=/home/tom/podcasts/dsc

# Download Yeast Radio to /home/tom/podcasts and set the ID3 tags album, lead 
# artist and content type; clear the ID3 tag comment.
[yeast]
url=http://feeds.feedburner.com/YeastRadio
spool=/home/tom/podcasts
id3album=Yeast Radio
id3leadartist=Madge Weinstein
id3contenttype=Podcast
id3comment=
